<body class='form'>
<h1 class="center">Edit</h1>

<%= render(partial: 'form')%>
<div class="center">
<%= link_to 'Back', location_addresses_path(@location), class:'btn cyan white-text'%>
</div>
</body>