<body class="form">
<div class="center"><h1>Add New Address</h1></div>

<%= render(partial: 'form')%>

<div class="center"><%= link_to 'Back', location_addresses_path(@location),class:'btn cyan white-text'%></div>
</body>