<h1> Locations for: <%= @trip.trip_name%></h1>

<% if @trip.locations.any? %>
<% @trip.locations.each do |location| %>
  <%= link_to @trip.locations, trip_locations_path(location)%>
<% end %>
<% else %>
  <h3> No Locations Found </h3>
<% end %>
<br/>
<%= link_to 'Home', :root %>