
<nav class ="grey lighten-3">

  <div class = "nav-wrapper"> 
    <a href "#!" class= "brand-logo black-text">Trip Tracker</a>
    <a href "#" data-activates="mobile" class="dropdown-button black-text">
    <i class="fa fa-bars"></i></a>
    <ul class="right hide-on-med-and-down">
      <li><%= link_to 'Home', trips_path%></li>
    </ul>
    <ul class="dropdown-content" id="mobile">
      <li><%= link_to 'Home', trips_path%></li>
      <% if user_signed_in? %>
      <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
       <% else %>
      <li class = "active">
      <%= link_to 'Login', new_user_session_path %>
      </li>
      <% end %>
    </ul>
  </div>
  
</nav>
