<nav class ="blue darken-4">
  <div class = "nav-wrapper"> 
    <a href "#!" class= "brand-logo">All Trips</a>
    <a href "#" data-activates="mobile" class="dropdown-button" >
     <i class="fa fa-bars"></i>
    </a>
   <ul class="right hide-on-med-and-down">
     <li><%= link_to 'Home', root_path%></li>
     <li><%= link_to 'Trips', trips_path %></li>
   </ul>
   <ul class="dropdown-content" id="mobile">
     <li><%= link_to 'Home', root_path%></li>
     <li><%= link_to 'Trips', trips_path %></li>
   </ul>
  </div>
  </nav>
